In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("ragtest/output/entities.parquet")

In [4]:
df.shape

(131, 10)

In [5]:
df.head()

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree,x,y
0,eff1c850-8871-4d8a-98b3-a7059ca18c5c,0,MINISTRY OF HEALTH AND FAMILY WELFARE,ORGANIZATION,The Ministry of Health and Family Welfare is a...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,1,6,0.0,0.0
1,f6c67476-2dfe-4e19-b974-113e1c039274,1,DRUGS TECHNICAL ADVISORY BOARD,ORGANIZATION,The Drugs Technical Advisory Board (DTAB) is a...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,46,78,0.0,0.0
2,12ffc893-bf7a-4c1c-bad5-7bb7c5d9e7de,2,HIGH COURT OF JUDICATURE AT MADRAS,ORGANIZATION,The High Court of Judicature at Madras is a pr...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,31,13,0.0,0.0
3,f72799ba-7161-4381-bef6-df4deae36934,3,SUPREME COURT OF INDIA,ORGANIZATION,The Supreme Court of India is the highest judi...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,43,16,0.0,0.0
4,286f6c5e-a128-45f8-8357-78316aa9c676,4,UNION OF INDIA,ORGANIZATION,The Union of India is the central and federal ...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,22,17,0.0,0.0

In [6]:
df['type'].value_counts()

type
EVENT           102
ORGANIZATION     17
                  6
PERSON            5
GEO               1
Name: count, dtype: int64

In [8]:
df['degree'].min(), df['degree'].max()

(0, 78)

In [9]:
df[df['degree'] == 78]

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree,x,y
1,f6c67476-2dfe-4e19-b974-113e1c039274,1,DRUGS TECHNICAL ADVISORY BOARD,ORGANIZATION,The Drugs Technical Advisory Board (DTAB) is a...,[4851f892ccf3c7b98523321436028fdcbdfaa71cb136b...,46,78,0.0,0.0

In [11]:
df[df['title'].str.contains("NIMESULIDE")]

,id,human_readable_id,title,type,description,text_unit_ids,frequency,degree,x,y
121,6f079d1d-b8dd-4b40-886b-5cba0d5bad85,121,NIMESULIDE + PHENYLEPHRINE + CHLORPHENIRAMINE ...,EVENT,A fixed dose combination of drugs that was rec...,[f362442b51cd7c4f5a9afefe3e27ef34132984e5e2fff...,1,1,0.0,0.0
122,bbdfe1e3-08b9-4aee-b1ff-47dddcf60b5c,122,NIMESULIDE + PITOFENONE + FENPIVERINIUM BROMIDE,EVENT,"NIMESULIDE, PITOFENONE, and FENPIVERINIUM BROM...",[f362442b51cd7c4f5a9afefe3e27ef34132984e5e2fff...,2,2,0.0,0.0
125,3c679517-c88e-4e4e-96ac-76e7ad9bce8f,125,NIMESULIDE + PSEUDOEPHEDRINE + CETIRIZINE,EVENT,"The combination of Nimesulide, Pseudoephedrine...",[429c00ea03cca391c467720567688dbfc13c09499ed6e...,1,1,0.0,0.0

In [12]:
rel_df = pd.read_parquet("ragtest/output/relationships.parquet")

In [13]:
rel_df.shape

(220, 8)

In [28]:
# set width upto 1000
pd.set_option('display.width', 1000)
rel_df.sample()

                                       id  human_readable_id                                                                                                     source              target                                                                                                  description  weight  combined_degree                                                                                                                       text_unit_ids
179  d6265eff-3482-4521-9547-cc4a1c64b1a7                179  GLUCOSAMINE + VITAMIN C + VITAMIN E + CHONDROITIN SULPHATE + METHYL SULFONYL METHANE + MANGANESE SULPHATE  CENTRAL GOVERNMENT  The Central Government prohibited the manufacture and sale of this FDC based on the Board's recommendations     1.0               47  [cc1420b73f3a52b2014548e53beb797e5f9336c809eac46536391e41cb05593c9100e510662c6319c7df5d5acbe757d13e9f427b0ca92420c529d6b6e5a6b025]

In [20]:
com_df = pd.read_parquet("ragtest/output/community_reports.parquet")

In [22]:
com_df.shape

(17, 15)

In [24]:
text_unit_df = pd.read_parquet("ragtest/output/text_units.parquet")

In [25]:
text_unit_df.shape

(52, 8)